/* .Banner-container {
  height: 17.778rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2.444rem 0;
  background-color: var(--doro-medium);
}

.Banner-Box {
  display: flex;
  justify-content: space-between;
  width: 65.571rem;
}

.Banner-content-container {
  height: 11.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
}

.Banner-route {
  flex-grow: 0;
  margin: 0 4.167rem 1.167rem 0.333rem;
}

.Banner-con {
  height: 6.944rem;
  flex-grow: 0;
}

.Banner-title-div {
  height: 4.667rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.167rem 0 0;
  padding: 0;
}

.Banner-title {
  height: 3.222rem;
  flex-grow: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Banner-subtitle {
  height: 1.444rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: center;
  color: #d9d9d9;
}

.Banner-content {
  height: 1.611rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Banner-content-small {
  height: 1.611rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.Banner-right-img {
  height: 15rem;
  width: auto;
} */