.Create-post-parent {
  min-width: 106.667rem;
  margin-left: 20.556rem;
  margin-right: 20.556rem;
}

.Create-post-title {
  width: 6.944rem;
  height: 1.611rem;

  margin-bottom: 1.167rem;
  margin-top: 5.5rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Create-post-Frame-72 {
  width: 55.556rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 0.722rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}
.Create-post-input-title {
  width: 10rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1.167rem, 20.556rem;
  gap: 8px;
  padding: 1.111rem 1.389rem;
  border: solid 1px var(--doro-light-grey);
  background-color: var(--doro-super-light-grey);
}
.Create-post-input-description {
  height: 1.444rem;
  flex-grow: 0;
  margin: 0.167rem 0 0;
  font-family: Pretendard;
  font-size: 0.95rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--doro-grey);
}
.Create-post-Group-43 {
  width: 5.222rem;
  height: 1.611rem;
  flex-grow: 0;
}

.Create-post-input {
  width: 54.444rem;
  height: 2.556rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0.556rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}

.Create-post-input-checkbox {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0.556rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}
.Create-post-Frame-72-checkbox {
  width: 55.556rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  justify-content: start;
  gap: 8px;
  padding: 0.722rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}

.Create-post-Rectangle-49 {
  width: 10rem;
  height: 23.056rem;
  flex-grow: 0;
  padding: 1.111rem 5.111rem 20.333rem 1.389rem;
  border: solid 1px var(--doro-light-grey);
  background-color: var(--doro-super-light-grey);
}

.Create-post-Frame-91 {
  width: 55.556rem;
  height: 23.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 0.944rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}

.Create-post-textarea {
  width: 54.444rem;
  height: 20.889rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0.722rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}
.Create-post-agree-notification {
  height: 1.444rem;
  margin-top: 0.944rem;
  padding: 0 1.889rem 0.056rem 0;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--doro-grey);
}
.Create-post-Rectangle-63 {
  width: 1.306rem;
  height: 1.306rem;
  margin-top: 0.944rem;
  margin-right: 0.672rem;
  border: solid 0.9px var(--doro-grey);
}
.Create-post-submit-button {
  width: 9.944rem;
  height: 3.667rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 1.111rem 3.167rem;
  border-radius: 5px;
  background-color: var(--doro-medium);
}
.Create-post-submit-text {
  width: 3.611rem;
  height: 1.444rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.95rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: #fff;
}
