.MainCategory-container {
    display: grid;
    justify-content: center;
    margin-top: 3.778rem;
    grid-template-columns: 15.457rem 15.457rem 15.457rem 15.457rem;
    grid-template-rows: 2.563rem;
    gap: 1.25rem;
}

.MainCategory-click {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    font-size: 1.111rem;
    border: 1px solid transparent;
    background: #0072b9;
    color: #f8f9fd;
}

.MainCategory-click-off {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pretendard;
    font-size: 1.111rem;
    border: 1px solid #d9d9d9;
    background: transparent;
    color: #777777;
}

.SubCategory {
    display: flex;
    justify-content: center;
    width: 100%;
}

.SubCategory-container {
    display: flex;
    margin-top: 0.994rem;
    width: 65.556rem;
}

.SubCategory-click {
    display: flex;
    align-items: center;
    height: 2.278rem;
    font-family: Pretendard;
    padding: 0.833rem;
    font-size: 0.833rem;
    background: #0072b9;
    color: #f8f9fd;
    margin-right: 0.667rem;
}

.SubCategory-click-off {
    display: flex;
    align-items: center;
    height: 2.278rem;
    font-family: Pretendard;
    padding: 0.833rem;
    font-size: 0.833rem;
    background: #d9d9d9;
    color: #777777;
    margin-right: 0.667rem;
}

.EduDetail-click {
    display: grid;
    justify-content: center;
    margin-top: 4.611rem;
    margin-bottom: 4.611rem;
    grid-template-columns: 21.111rem 21.111rem 21.111rem;
    grid-template-rows: 21.111rem;
    gap: 1.111rem;
}

.EduDetail-click-off {
    display: none;
}

.EduDetail-content-container {
    display: flex;
    flex-direction: column;
    height: 21.111rem;
    background: #f8f9fd;
}

.HashTag-text {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1.111rem;
    font-family: Pretendard;
    font-size: 0.778rem;
}

.HashTag-text-Main4 {
    display: flex;
    margin-top: -0.65rem;
    margin-left: 1.111rem;
    font-family: Pretendard;
    font-size: 0.778rem;
}

.Title-text {
    display: flex;
    margin-left: 1.111rem;
    font-family: Pretendard;
    font-size: 1.889rem;
    font-weight: Bold;
}

.Title-text-Main4 {
    display: flex;
    margin-bottom: -0.65rem;
    margin-left: 1.111rem;
    font-family: Pretendard;
    font-size: 1.889rem;
    font-weight: Bold;
}
