.Main2 {
  /* height: 52.778rem; */
}

.Main2-content-container {
  width: 65.571rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.444rem;
}

.Main2-letter-container {
  display: flex;
  flex-direction: column;
}

.Main2-title {
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #212121;
  width: 30.422rem;
  border-bottom: solid 0.194rem var(--doro-deep);
  margin-bottom: 1.5rem;
}

.Main2-subtitle {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--doro-grey);
}

.Main2-image-container {
  display: flex;
  flex-direction: row;
  margin-top: 3.556rem;
  height: 25rem;
}

.Main2-image1,
.Main2-image3 {
  margin-top: 1.611rem;
  margin-right: 1.111rem;
}

.Main2-image2 {
  margin-right: 1.111rem;
}

.Main2-image1,
.Main2-image2,
.Main2-image3,
.Main2-image4 {
  width: 15.556rem;
  height: 23.389rem;
}
