.Main7 {
  height: 43.722rem;
  background-color: var(--doro-super-light-grey);
}
.Main7-content-container {
  margin-left: auto;
  margin-right: auto;
  width: 106.667rem;

  height: 43.722rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--doro-super-light-grey);
}
.Main7-title-container {
  margin-bottom: 4rem;
  width: 22.867rem;
  height: 3.222rem;
  display: flex;
  justify-content: center;
  border-bottom: solid 0.194rem #005c97;
}

.Main7-title {
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: var(--doro-black);
}
.Main7-process-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14.115rem;
  width: 65.541rem;
  gap: 1.338rem;
}
.Main7-image {
  width: 65.541rem;
  height: 14.115rem;
}
.Main7-image-bridge {
  width: 1.338rem;
  height: 0.268rem;

  background-color: var(--doro-light-grey);
}
