.Main4 {
  height: 48.661rem;
}

.Main4-content-container {
  width: 42.333rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14.278rem;
}

.Main4-letter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5.893rem;
}

.Main4-title {
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: var(--doro-black);
  width: 42.733rem;
  border-bottom: solid 0.194rem var(--doro-deep);
  margin-bottom: 1.5rem;
}

.Main4-subtitle {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--doro-grey);
}
