.Main-Container {
  z-index: 1;
}

.Main1 {
  background-image: url("/src/images/main1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 52.778rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
}

.Main1-content-container {
  margin-top: 23.313rem;
  margin-left: auto;
  margin-right: auto;
  width: 65.571em;
}

.Main1-title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 0.5rem;
}

.Main1-subtitle {
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 2.389rem;
}

.Main1-button {
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: center;
  color: #000;
  width: 10rem;
  height: 2.833rem;
  align-items: center;
  gap: 8px;
  padding: 0.778rem 1.833rem;
  border-radius: 25px;
  background-color: var(--doro-super-light-grey);
}

.Main1-button:hover {
  background-color: var(--doro-medium);
  font-weight: bold;
  color: #fff;
  transition: 300ms;
}

.Item-center{
  display: flex;
  justify-content: center;
  align-items: center;

  
  
}