.Posts-postlist {
  height: 51.861rem;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: black;
}

.Posts-container {
  margin-top: 7.889rem;
  width: 65.571rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9.667rem;
  font-family: Pretendard;
  height: 58.5rem;
}

.Posts-post-container {
  height: 4.667rem;
  border-bottom-style: solid;
  border-bottom-width: 0.056rem;
  border-bottom-color: black;
  display: flex;
  justify-content: space-between;
}

.Posts-notice {
  width: 2.889rem;
  height: 1.889rem;
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: left;
  padding: 0.444rem 0.667rem 0.5rem 0.778rem;
  border-radius: 17px;
  background-color: #0072b9;
  color: #fff;
}

.Posts-post-num {
  display: inline-block;
  width: 2.889rem;
  height: 1.889rem;
  color: #777777;
  padding: 0.444rem 0.667rem 0.5rem 1rem;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  font-family: Pretendard;
}

.Posts-post-title {
  margin-left: 1.889rem;
}

.Posts-post-left {
  margin-top: 1.611rem;
}

.Posts-post-right {
  margin-top: 1.611rem;
}

.Posts-username {
  margin-right: 2.944rem;
  display: inline-block;
  width: 4rem;
  text-align: center;
  font-size: 0.778rem;
  font-weight: 500;
  color: var(--doro-grey);
  letter-spacing: normal;
}

.Posts-date {
  width: 5rem;
  display: inline-block;
  text-align: center;
  font-size: 0.778rem;
  font-weight: 500;
  color: var(--doro-grey);
}

.Posts-comment {
  width: 4.722rem;
  height: 1.833rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.778rem;
  gap: 8px;
  background-color: var(--doro-medium);
  padding: 0.444rem 0.889rem;
  border-radius: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: left;
  color: #fff;
  margin-right: 3.222rem;
}

.Posts-bottom-container {
  margin-top: 1.889rem;
}

.Posts-pagination-container {
  display: flex;
  align-items: center;
}

.Posts-pagination-button-span {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: var(--doro-grey);
}

.Posts-pagination-button-left {
  flex-grow: 0;
  font-size: 1.7rem;
  color: var(--doro-grey);
  font-weight: lighter;
  margin-right: 0.833rem;
}

.Posts-pagination-button-right {
  flex-grow: 0;
  font-size: 1.7rem;
  color: var(--doro-grey);
  font-weight: lighter;
  margin-left: 0.833rem;
}

.Posts-empty {
  width: 10rem;
  height: 2.833rem;
}

.Posts-create-button {
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: center;
  color: #fff;
  width: 10rem;
  height: 2.833rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.778rem 1.833rem;
  border-radius: 25px;
  background-color: var(--doro-medium);
}
