:root {
  --doro-light: #d3efff;
  --doro-deep: #005c97;
  --doro-light-grey: #d9d9d9;
  --doro-medium: #0072b9;
  --doro-super-light-grey: #f8f9fd;
  --doro-grey: #777;

  --standard: 0.222rem;
}



@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf")
      format("truetype");
  font-display: swap;
}

.Headline-1 {
  font-family: Pretendard;
  font-size: 5.333rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
.Headline-2 {
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
}
.Subtitle-1 {
  font-family: Pretendard;
  font-size: 1.889rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
}
.Subtitle-2 {
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
}
.Body-1 {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
}

.button {

  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
}
.Body-2 {
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}


.Posts-postlist {
  height: 51.861rem;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: black;
}

.Posts-container {
  margin-top: 7.889rem;
  margin-left: 20.556rem;
  margin-right: 20.556rem;
  font-family: Pretendard;
}

.Posts-post-container {
  height: 4.667rem;
  border-bottom-style: solid;
  border-bottom-width: 0.056rem;
  border-bottom-color: black;
  display: flex;
  justify-content: space-between;
}

.Posts-notice {
  width: 2.889rem;
  height: 1.889rem;

.Frame-48 {
  width: 106.667rem;
  height: 17.778rem;
  margin: 5rem 0 5.333rem;
  padding: 2.5rem 35.944rem 2.444rem 20.611rem;
  background-color: #0072b9;
}
.Header {
  width: 106.647rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 871px;
  margin: 0 0.02rem 0 0;
  padding: 0;
}
.Rectangle-21 {
  width: 106.667rem;
  height: 21.056rem;
  margin: 6.556rem 0 0;
  padding: 2.833rem 25.222rem 4.111rem 20.556rem;
  background-color: #f1f1f1;
}
.Company {
  width: 5.833rem;
  height: 1.611rem;
  margin: 0 5.278rem 1.278rem 15.722rem;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.Company-intro {
  width: 2.889rem;
  height: 1.111rem;
  margin: 0.722rem 8.222rem 0.611rem 15.722rem;

  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: left;
  padding: 0.444rem 0.667rem 0.5rem 0.778rem;
  border-radius: 17px;
  background-color: #0072b9;
  color: #fff;
}

.Posts-post-num {
  width: 2.889rem;
  height: 1.889rem;
  color: #777777;
  padding: 0.444rem 0.667rem 0.5rem 1rem;
}

.Posts-post-title {
  margin-left: 1.889rem;
}

.Posts-post-left {
  margin-top: 1.611rem;
}

.Posts-post-right {
  margin-top: 1.611rem;
}

.Posts-username {
  margin-right: 2.944rem;
  display: inline-block;
  width: 3.5rem;
  text-align: center;
}

.Posts-comment {
  width: 4.722rem;
  height: 1.833rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.778rem;
  gap: 8px;
  background-color: var(--doro-medium);
  padding: 0.444rem 0.889rem;
  border-radius: 17px;

  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.Lecture-info {
  width: 2.889rem;
  height: 1.111rem;
  margin: 0.611rem 8.222rem 3.167rem 15.722rem;
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.Frame-44 {
  width: 23.167rem;
  height: 2.833rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
  margin: 1.278rem 15.278rem 0 0;
  padding: 0;
}
/*foot-----------------------------*/

.Education-inquiry-board_after-answer {
  width: 106.667rem;
  flex-grow: 0;

  background-color: #fff;
}

.Post-title {
  width: 25.222rem;
  height: 2.278rem;
  margin: 1.333rem 4.722rem 0.583rem 20.611rem;
  font-family: Pretendard;
  font-size: 1.889rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Frame-63 {
  width: 15.556rem;
  height: 1.726rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin: 2rem 20.556rem 0.469rem 20.722rem;
  padding: 0 0.444rem 0 0;
}
.Post-Frame-59 {
  width: 4.851rem;
  height: 1.726rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.444rem 0.889rem;
  border-radius: 17px;
  background-color: var(--doro-medium);
}
.Post-answered-content {
  width: 2.548rem;
  height: 0.889rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.558rem;

  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 1.25px;
  text-align: left;
  color: #fff;

  margin-right: 3.222rem;
}

.Posts-bottom-container {
  margin-top: 1.889rem;
}

.Posts-pagination-container {
  margin-right: 20.002rem;
}

.Posts-pagination-button-span {

}
.Post-owner {
  width: 3.167rem;
  height: 1.111rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.778rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.Post-date {
  width: 4.444rem;
  height: 1.111rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.738rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #777777;
}
.Post-Line-2 {
  width: 65.556rem;
  height: 0.083rem;
  margin: 0.469rem 20.556rem 2rem;
  background-color: #212121;
}

.Post-content {
  width: 65.556rem;
  margin: 2rem 20.556rem 1.917rem;

  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: 0.9px;
  text-align: center;
  padding-bottom: 0.1rem;
  color: var(--doro-grey);
}

.Posts-pagination-button-left {
  flex-grow: 0;
  font-size: 1.7rem;
  color: var(--doro-grey);
  font-weight: lighter;
  margin-right: 0.833rem;
}

.Posts-pagination-button-right {
  flex-grow: 0;
  font-size: 1.7rem;
  color: var(--doro-grey);
  font-weight: lighter;
  margin-left: 0.833rem;
}

.Posts-create-button {
  font-family: Pretendard;
  font-size: 0.778rem;

  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000;
  white-space: pre;
  word-break: keep-all;
}
.Post-Line-3 {
  width: 65.556rem;
  height: 0.083rem;
  margin: 1.917rem 20.556rem 1.944rem;
  background-color: #212121;
}
.Post-Frame-64 {
  width: 4.444rem;
  height: 1.778rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0.222rem 1.556rem;
  border-radius: 13px;
  background-color: #d3efff;
}

.Post-Frame-65 {
  width: 4.444rem;
  height: 1.778rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0.222rem 1.556rem;
  border-radius: 13px;
  background-color: #ffab49;
}

.Post-Frame-66 {
  width: 4.444rem;
  height: 1.778rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0.222rem 1.556rem;
  border-radius: 13px;
  background-color: #0072b9;
}

.Post-Frame-67 {
  width: 15.556rem;
  height: 1.778rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin: 1.944rem 20.556rem 6rem 70.556rem;
  padding: 0;
}

.Post-answer-title {
  width: 7rem;
  height: 2.278rem;
  margin: 6rem 42.944rem 0.583rem 20.611rem;
  font-family: Pretendard;
  font-size: 1.889rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #0072b9;
}
.Post-Line-4 {
  width: 65.556rem;
  height: 0.083rem;
  margin: 0.583rem 20.556rem 2rem;
  background-color: #212121;
}
.Post-answer-content {
  width: 65.556rem;
  margin: 2rem 20.556rem 1.917rem;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  white-space: pre;
  word-break: keep-all;
  color: #000;
}
.Post-Line-5 {
  width: 65.556rem;
  height: 0.083rem;
  margin: 1.917rem 20.556rem 7.944rem;
  background-color: #212121;
}

/* createpost------------------------------------------------ */
.Create-post-parent {
  min-width: 106.667rem;
  margin-left: 20.556rem;
  margin-right: 20.556rem;
}

.Create-post-title {
  width: 6.944rem;
  height: 1.611rem;

  margin-bottom: 1.167rem;
  margin-top: 5.5rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.333rem;

  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;

  letter-spacing: 1.25px;
  text-align: center;
  color: #fff;
  width: 10rem;
  height: 2.833rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.778rem 1.833rem;
  border-radius: 25px;
  background-color: var(--doro-medium);
}

.Banner-container {
  height: 17.778rem;

  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Create-post-Frame-72 {
  width: 55.556rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 0.722rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}
.Create-post-input-title {
  width: 10rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1.167rem, 20.556rem;
  gap: 8px;
  padding: 1.111rem 1.389rem;
  border: solid 1px var(--doro-light-grey);
  background-color: var(--doro-super-light-grey);
}
.Create-post-input-description {
  height: 1.444rem;
  flex-grow: 0;
  margin: 0.167rem 0 0;
  font-family: Pretendard;
  font-size: 0.95rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;
  text-align: left;
  color: var(--doro-grey);
}
.Create-post-Group-43 {
  width: 5.222rem;
  height: 1.611rem;
  flex-grow: 0;
}

.Create-post-input {
  width: 54.444rem;
  height: 2.556rem;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
margin: 5rem 0 5.056rem;
  padding: 2.444rem 0;
  background-color: var(--doro-medium);
}

.Banner-content-container {
  width: 106.667rem;
  height: 11.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  padding: 0 0 0 20.556rem;
}

.Banner-route {
  flex-grow: 0;
  margin: 0 4.167rem 1.167rem 0.333rem;
}

.Banner-con {
  height: 6.944rem;
  flex-grow: 0;
}

.Banner-title-div {
  height: 4.667rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.167rem 0 0;
  padding: 0;
}

.Banner-title {
  height: 3.222rem;
  flex-grow: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Pretendard;
  font-size: 2.667rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.Banner-subtitle {
  height: 1.444rem;
  flex-grow: 0;


padding: 0.556rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}

.Create-post-input-checkbox {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0.556rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}
.Create-post-Frame-72-checkbox {
  width: 55.556rem;
  height: 4.056rem;
  flex-grow: 0;
  display: flex;
  justify-content: start;
  gap: 8px;
  padding: 0.722rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}

.Create-post-Rectangle-49 {
  width: 10rem;
  height: 23.056rem;
  flex-grow: 0;
  padding: 1.111rem 5.111rem 20.333rem 1.389rem;
  border: solid 1px var(--doro-light-grey);
  background-color: var(--doro-super-light-grey);
}

.Create-post-Frame-91 {
  width: 55.556rem;
  height: 23.056rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 0.944rem 0;
  border: solid 1px var(--doro-light-grey);
  background-color: #fff;
}

.Create-post-textarea {
  width: 54.444rem;
  height: 20.889rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0.722rem 0.778rem;
  border-radius: 4px;
  border: solid 1px var(--doro-light-grey);
}
.Create-post-agree-notification {
  height: 1.444rem;
  margin-top: 0.944rem;
  padding: 0 1.889rem 0.056rem 0;


  font-family: Pretendard;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;


  text-align: center;
  color: #d9d9d9;
}

.Banner-content {
  height: 1.611rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;


  text-align: left;
  color: var(--doro-grey);
}
.Create-post-Rectangle-63 {
  width: 1.306rem;
  height: 1.306rem;
  margin-top: 0.944rem;
  margin-right: 0.672rem;
  border: solid 0.9px var(--doro-grey);
}
.Create-post-submit-button {
  width: 9.944rem;
  height: 3.667rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 1.111rem 3.167rem;
  border-radius: 5px;
  background-color: var(--doro-medium);
}
.Create-post-submit-text {
  width: 3.611rem;
  height: 1.444rem;
  flex-grow: 0;
  font-family: Pretendard;
  font-size: 0.95rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.9px;


  text-align: left;
  color: #fff;
}
